#header {
	background-color: red;
	background-image: url('background.jpg');

	color: white;
}

#about {
	padding-top: 100px;
	padding-right: 100px;

	background-image: radial-gradient(ellipse at bottom left, 
		rgba(144, 155, 148, 0.5), 
		rgba(144, 155, 148, 0));
}

#about a {
	background-color: #727D7D;
	color: white;
}